*{
	box-sizing: border-box;
	
}

#arrange-box {
	--border: #b1cdff;
	--main-padding: 16px;
  }

#arrange-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: solid 1px var(--border);
	border-radius: 4px;
    margin: 30px 0;
	background-image: linear-gradient(white, #f1f5ff);
	box-shadow: 0px 0px 20px 6px #e3e3e3;
}

.title-wrap {
	display: flex;
	flex-direction: column;
	margin-left: 46px;
}

#title-active-wrap {
	margin-left: 0;
	margin-right: 46px;
}

#title-active-wrap .list-title {
	margin-bottom: 10px;
	width: auto;
}

.list-wrap {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--main-padding);
}

.field-wrap {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	padding: var(--main-padding)
}

.list-title {
	text-align: center;
	margin-bottom: var(--main-padding);
}

#list-wrap {
	flex-direction: row-reverse;
}

#list-active-wrap {
	flex-direction: row;
}

.list {
	width: 300px;
	height: 400px;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 100px;
}
  
::-webkit-scrollbar-thumb {
	background-color: #c3d7ff;
	border-radius: 100px;
}

.buttons-sort-wrap {
	display: flex;
	flex-direction: column;
}

#buttons-sort-wrap arrangeboxcontrol-button {
	margin-bottom: 4px;
}

#buttons-sort-active-wrap arrangeboxcontrol-button {
	margin-bottom: 4px;
}

#buttons-activate-wrap {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

#buttons-activate-wrap arrangeboxcontrol-button {
	margin-bottom: 4px;
}



.field-wrap input {
	font-family: helvetica, sans-serif;
	font-size: 1em;
	border: solid 1px var(--border);
	border-radius: 4px;
	padding: 8px;
	margin: 0px;
	width: auto;
	box-sizing: border-box;
}

::placeholder {
	color: rgb(184, 184, 184)
}

ul {
	padding-inline-start: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 200px;
	overflow-wrap: break-word;
	overflow-y: auto;
	border: solid 1px var(--border);
	border-radius: 4px;
	list-style-type: none;
}

li {
	padding: var(--main-padding);
	cursor: pointer;
	box-sizing: border-box;
	transition: background-color 0.1s;
}

.item-active {
	background-color: #b2c0ff;
}

.item-active:hover {
    background-color: #9badff;
}

.item-active-latest {
	background-color: #6e89ff;
}

.item-active-latest:hover {
	background-color: #5574fd;
}

li:hover {
	background-color: #f1f1f1;
}

.hide-item {
	display: none;
}
